.beta-banner{
    padding: 10px 25px;
    background: $focus;
    color: $grey1;

    .container{
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        // justify-self: flex-start;
        align-items: flex-start;
    }

    p{
        margin: 0;
    }

    a{
        color: $grey1;
        &:hover{
            text-decoration: none;
        }
        &:active{
            color: $grey1;
        }
        &:focus{
            background: $grey1;
            color: $focus;
            outline: 3px solid $grey1;
        }
    }

    strong{
        padding: 0px 5px;
        font-weight: bold;
        color: $focus;
        background: $grey1;
        text-transform: uppercase;
        margin-right: 10px;
    }
}