.call-to-action{
    background: $blue2;
    color: white;
    padding: 50px 25px;
    text-align: center;
    @media screen and (min-width: 700px) {
        padding: 70px 25px;
    }

    &__title{
        margin: 0;
        margin-bottom: 15px;
        // font-size: 1.5rem;
    }

    &__message{
        margin: 0;
        line-height: 1.5;
        @media screen and (min-width: 700px) {
            font-size: 1.1rem;
        }
    }

    &__button{
        @include button;
        margin-top: 25px;
        background: white;
        color: $blue2;
        &:focus{
            color: $blue2;
            background: white;
            box-shadow: 0px 0px 0px 3px $focus;
        }
        &:hover{
            color: $blue2;
            background: darken(white, 5);
        }
        &:active{
            color: $blue2;
            background: darken(white, 10);
        }
    }
}