.call-to-action{
    background: $blue1;
    color: white;
    padding: 50px 25px;
    text-align: center;
    @media screen and (min-width: 700px) {
        padding: 70px 25px;
    }

    &__title{
        margin: 0;
        margin-bottom: 15px;
        // font-size: 1.5rem;
    }

    &__message{
        margin: 0;
        line-height: 1.5;
        @media screen and (min-width: 700px) {
            font-size: 1.1rem;
        }
    }

    &__button{
        @include button;
        margin-top: 25px;
        background: white;
        color: $blue2;
        &:focus{
            color: $blue2;
            background: white;
        }
        &:hover{
            color: $blue2;
            background: darken(white, 5);
        }
        &:active{
            color: $blue2;
            background: darken(white, 10);
        }
    }
}

.page-template-page-course-search .call-to-action{
    background: $blue3;
    color: $grey1;
    &__button{
        background: $blue1;
        color: white;
        &:focus{
            color: white;
            background: $blue1;
        }
        &:hover{
            color: white;
            background: darken($blue1, 5);
        }
        &:active{
            color: white;
            background: darken($blue1, 10);
        }
    }
}