.mini-apply-form{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    max-width: 500px;
    margin: 0px auto 55px auto;
    @media screen and (min-width: 700px){
        margin-bottom: 75px;
    }

    &--single{
        align-items: center;
        background: white;
        padding: 25px;
        border: 1px solid $grey3;
        border-radius: 5px;
    }

    &__details{
        margin-right: 20px;
        color: $grey1;
        flex: 1;
        p{
            margin: 0;
        }
        p:first-of-type{
            font-size: 0.9rem;
            margin-bottom: 5px;
        }
        p:last-of-type{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    &__field{
        width: 100%;
        margin-right: 10px;
    }

    &__label{
        font-size: 0.9rem;
        display: block;
        margin-bottom: 7px;
    }

    &__select{
        width: 100%;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid $grey3;
        border-radius: 5px;
        cursor: pointer;
        background: white;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-right: 40px;
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 27px;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='22' viewBox='0 0 34 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='34' height='22' fill='white'/%3E%3Cpath d='M15.1453 8.73105L10.1823 13.3632C9.79811 13.7218 9.20189 13.7218 8.81768 13.3632L3.8547 8.73106C3.19118 8.11177 3.6294 7 4.53702 7H14.463C15.3706 7 15.8088 8.11177 15.1453 8.73105Z' fill='%230B0C0C'/%3E%3C/svg%3E%0A");
        @media screen and (min-width: 700px){
            font-size: 1.1rem;
        }
        &:focus{
            outline: none;
            box-shadow: 0px 0px 0px 3px $focus;
        }

        &::-ms-expand{
            display: none;
        }
    }

    &__button{
        @include button;
        min-width: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: min-content;
        img{
            display: inline-block;
            margin-left: 15px;
            height: 15px;
        }
    }
}

.media-card{
    border: 1px solid $grey3;
    border-radius: 5px;
    background: white;
    overflow: hidden;
    margin-bottom: 25px;
    @media screen and (min-width: 500px){
        display: flex;
        flex-direction: row;
    }

    img{
        width: 100%;
        height: auto;
        @media screen and (min-width: 500px){
            width: 33.33%;
            object-fit: cover;
        }
    }

    h3{
        margin: 0;
        text-align: left;
        margin-bottom: 15px;
    }

    p{
        margin: 0;
    }

    &__inner{
        padding: 25px;
        flex: 1;
        align-self: center;
        @media screen and (min-width: 500px){
            padding: 35px;
        }
    }
}

.online-course-warning{
    padding: 35px 25px;
    background: $focus;
    color: $grey1;

    &__inner{
        @media screen and (min-width: 600px){
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__icon{
        margin-bottom: 15px;
        width: 80px;
        @media screen and (min-width: 600px){
            width: 100px;
            margin-right: 55px;
            margin-bottom: 0;
        }
    }

    &__content{
        flex: 1;
    }


    &__title{
        margin: 0;
        margin-bottom: 15px;
        font-weight: 600;
        strong{
            font-weight: 700;
        }
    }

    details{
        line-height: 1.5;
    }

    summary{
        display: inline list-item;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
        &:focus{
            background: $grey1;
            color: $focus;
            outline: 3px solid $grey1;
        }
    }

    a{
        font-weight: bold;
        cursor: pointer;
        color: $grey1;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
        &:focus{
            background: $grey1;
            color: $focus;
            outline: 3px solid $grey1;
        }
    }
}



.intake-tabs{

    .intake-tabs__tablist{
        margin: 0;
        list-style: none;
        padding-left: 0;
        margin-bottom: 10px;
        @media screen and (min-width: 500px){
            margin-bottom: 0px;
        }
    }

    .intake-tabs__tab{
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0px;
    }

    .intake-tabs__link{
        display: block;
        font-weight: 600;
        font-size: 1rem;
        color: $grey1;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid transparent;
        &:focus{
            background: inherit;
            outline: none;
            box-shadow: 0px 0px 0px 3px $focus;
        }
        &[aria-selected='true']{
            background: white;
            border: 1px solid $grey3;
            cursor: inherit;
            pointer-events: none;
        }

        @media screen and (min-width: 500px){
            padding: 15px 25px;
            border-radius: 5px 5px 0px 0px;
            &[aria-selected='true']{
                border-bottom: 1px solid white;
            }
        }
    }

    &__tabpanel{
        margin-top: -1px;
        background: white;
        border: 1px solid $grey3;
        border-radius: 5px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (min-width: 500px){
            border-radius: 0px 0px 5px 5px;
        }
        @media screen and (min-width: 700px){
            padding: 35px;
        }
        &[hidden]{
            display: none;
        }
    }

    p{
        margin-top: 0;
        margin-bottom: 15px;
        width: 100%;
    }

    .intake-tabs__title{
        text-align: left;
        margin: 0 0 15px 0;
    }

    .intake-tabs__button{
        @include button;
        margin-top: 25px;
        min-width: initial;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-end;
        img{
            display: inline-block;
            margin-left: 15px;
            height: 15px;
        }
    }
}