.results-count{
    margin-top: 0;
    margin-bottom: 25px;
}

.course-search{
    position: relative;
    background: white;
    padding: 25px;
    color: $grey1;
    text-align: left;
    border-radius: 5px;
    margin-top: 55px;
    @media screen and (min-width: 900px){
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 35px;
    }

    &__form{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        @media screen and (min-width: 400px){
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__field{
        position: relative;
        flex: 1;
        margin-bottom: 15px;
        @media screen and (min-width: 400px){
            margin-bottom: 0px;
        }
    }

    &__label{
        display: block;
        margin-bottom: 10px;
    }

    &__input{
        min-width: 100%;
        width: 100%;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid $grey3;
        border-radius: 5px;
        padding-right: 40px;
        -webkit-appearance: none;
        @media screen and (min-width: 700px){
            font-size: 1.1rem;
        }
        &:focus{
            outline: none;
            box-shadow: 0px 0px 0px 3px $focus;
        }
        &::placeholder{
            color: transparentize($grey2, 0.5);
        }
    }

    &__clear{
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 0px 5px 5px 0px;
        padding: 10.5px;
        @media screen and (min-width: 700px){
            padding: 11.5px;
        
        }
        &:hover{
            background: $grey3;
        }
        &:focus{
            outline: none;
            box-shadow: 0px 0px 0px 3px $focus;
        }
        img{
            display: block;
        }
    }

    // hide little xes on mobile chrome
    input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
    input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration { display: none; }

    &__button{
        @include button;
        @media screen and (min-width: 400px){
            min-width: initial;
            margin-left: 10px;
        }
    }

    &__popular{
        @media screen and (min-width: 900px){
            margin-left: 40px;
            padding-left: 40px;
            border-left: 1px solid $grey3;
            min-width: 200px;
        }
    }

    &__popular-title{
        margin: 0;
        margin-bottom: 15px;
        font-weight: normal;
        font-size: 1rem;
        @media screen and (min-width: 700px){
            font-size: 1.1rem;
        }
    }

    &__menu{
        padding-left: 0;
        list-style: none;
        margin-bottom: 0px;

        li{
            margin-bottom: 7px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }

        a{
            color: $blue1;
            font-weight: 600;
            @media screen and (min-width: 700px){
                font-size: 1.1rem;
            }
            &:hover{
                text-decoration: none;
            }
            &:focus{
                background: $focus;
                outline: 3px solid $focus;
            }
            &:active{
                color: $grey1;
            }
        }
    }
}

.course-filter{
    padding: 0;
    border: 0;
    border-radius: 5px;
    margin-bottom: 25px;

    @media screen and (min-width: 700px){
        margin-bottom: 35px;
    }
    
    &__toggle{
        background: $blue1;
        color: white;
        padding: 15px 25px;
        font-size: 1rem;
        border-radius: 5px;
        border: none;
        width: 100%;
        cursor: pointer;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:after{
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L11.5 12L21 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            display: block;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 10px;
            width: 15px;
        }
        &[aria-expanded='true']{
            border-radius: 5px 5px 0px 0px;
            &:after{
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 12L11.5 2L2 12' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
        @media screen and (min-width: 700px){
            font-size: 1.1rem;
        }
        &:focus{
            outline: 0;
            box-shadow: 0px 0px 0px 3px $focus;
        }
        &:hover{
            background: darken($blue1, 5);
            text-decoration: none;
        }
        &:active{
            color: white;
            background: darken($blue1, 10);
            text-decoration: none;
        }
        legend{
            color: white;
        }
    }

    &__body{
        background: white;
        padding: 25px;
        border-radius: 0px 0px 5px 5px;
    }

    &__field{
        position: relative;
        margin-bottom: 10px;
        &:last-of-type{
            margin-bottom: 0px;
        }
        @media screen and (min-width: 700px){
            font-size: 1.1rem;
            margin-bottom: 15px;
        }

        input{
            width: 27px;
            height: 27px;
            position: absolute;
            padding: 0;
            margin: 0;
            top: 0;
            left: 0;
            z-index: -1;
        }

        &:hover label:before{
            background: $grey3;
        }


        label{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            &:before{
                content: "";
                display: inline-block;
                width: 27px;
                height: 27px;
                background: darken($pale, 4);
                border-radius: 5px;
                margin-right: 20px;
                flex-shrink: 0;
            }
        }

        input:checked + label{
            &:before{
                background: $blue1;
            }
            &:after{
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 6px;
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 7.5L7 12.5L17.5 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @supports(transform: translateY(-50%)){
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        input:focus + label{
            &:before{
                box-shadow: 0px 0px 0px 3px $focus;
            }
        }
    }
}

.no-results{
    color: $grey2;
    text-align: center;
    font-size: 1.1rem;
    margin: 60px 0px;
    @media screen and (min-width: 700px){
        font-size: 1.2rem;
    }
}