.site-footer{
    color: white;
    background: $grey0;

    img{
        max-width: 170px;
    }

    &__navigation{
        // background: $grey1;
        padding: 45px 25px;
    }

    &__menu{
        margin: 0;
        list-style: none;
        padding-left: 0;
        li{
            margin-bottom: 10px;
            &:last-of-type{
                margin-bottom: 0px;
            }
        }

        a{
            color: white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
            &:focus{
                color: $grey1;
                background: $focus;
                outline: 3px solid $focus;
            }
        }
    }

    &__copyright{   
        // background: $grey0;
        border-top: 1px solid $grey2;
        padding: 20px 25px;

        p{
            font-size: 0.9rem;
            margin: 0;
            color: $pale;
        }

        a{
            color: $pale;
            &:hover{
                text-decoration: none;
            }
            &:focus{
                color: $grey1;
                background: $focus;
                outline: 3px solid $focus;
            }
        }
    }

    &__columns{
        .site-footer__menu{
            margin-top: 35px;
        }
        @supports(display: grid){
            @media screen and (min-width: 700px){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
    
                .site-footer__menu{
                    margin-top: 0px;
                }
            }
        }
    }

}