.page-content{
    background: $pale;
    padding: 35px 25px;
    @media screen and (min-width: 700px){
        padding: 55px 25px;
    }

    &--white{
        background: white;
    }
}

.content-area{
    color: $grey1;

    & > *:first-child{
        margin-top: 0px;
    }

    h2, h3, h4, h5, h6{
        margin-top: 45px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 25px;
        @media screen and (min-width: 700px){
            margin-top: 65px;
            margin-bottom: 30px;
        }
    }

    p, li{
        line-height: 1.5;
        color: $grey1;
        @media screen and (min-width: 700px){
            font-size: 1.1rem;
        }
    }

    p, ol, ul{
        margin-bottom: 25px;
        @media screen and (min-width: 700px){
            margin-bottom: 30px;
        }
    }

    li{
        margin-bottom: 10px;
        padding-left: 10px;
    }

    a{
        color: $blue1;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &:focus{
            background: $focus;
            outline: 3px solid $focus;
        }
        &:active{
            color: $grey1;
        }
    }

    img{
        max-width: 100%;
        height: auto;
    }

    .wp-block-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .wp-block-button{
        &:last-of-type{
            margin-right: 0px;
        }
        &__link{
            @include button;
        }
    }

    figure{
        margin: 0;
        margin-bottom: 25px;
        @media screen and (min-width: 700px){
            margin-bottom: 30px;
        }

        figcaption{
            color: $grey2;
            margin-top: 10px;
            font-size: 0.9rem;
            text-align: center;
        }
    }

    iframe{
        max-width: 100%;
    }

    .wp-block-embed{
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .wp-block-table{
        table{
            background: white;
            border-collapse: collapse;
        }

        td, th{
            padding: 10px;
            border: 1px solid $blue1;
        }

        th{
            text-align: left;
            background: $blue1;
            color: white;
        }

        tr{
            background: $pale;
            &:nth-of-type(even){
                background: $blue3;
            }
        }
    }

}