.page-content{
    background: $pale;
    padding: 45px 25px;
    color: $grey1;

    h2, h3, h4, h5, h6{
        text-align: center;
    }

    p, li{
        line-height: 1.5;
        color: $grey1;
        @media screen and (min-width: 700px){
            font-size: 1.1rem;
        }
    }

    a{
        color: $blue2;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &:focus{
            color: $grey1;
            background: $focus;
            outline: 3px solid $focus;
        }
    }
}