.similar-courses{

    &__title{
        margin-top: 0px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 25px;
        @media screen and (min-width: 700px){
            margin-bottom: 30px;
        }
    }


    &__course{
        position: relative;
        background: white;
        padding: 25px;
        border-radius: 5px;
        border: 1px solid $grey3;
        margin-bottom: 15px;
        transition: box-shadow 0.3s ease-out;
        &:last-of-type{
            margin-bottom: 0px;
        }
        @media screen and (min-width: 700px){
            display: flex;
            flex-direction: row;
            align-items: center;
            display: grid;
            grid-template-columns: 2fr 3fr 3fr;
            gap: 35px;
        }
        &:focus-within .similar-courses__link:before{
            box-shadow: 0px 0px 0px 3px $focus;
        }
        &:hover{
            box-shadow: 0px 10px 15px transparentize($grey2, 0.95);
        }
    }

    &__course-name{
        margin: 0;
        margin-bottom: 15px;
        @media screen and (min-width: 700px){
            flex: 1;
            margin-bottom: 0px;
            order: 1;
        }
    }

    p{
        margin: 0;
        line-height: 1.5;
        margin-bottom: 15px;
        @media screen and (min-width: 700px){
            margin-bottom: 0px;
            flex: 2;
            order: 3;
        }
    }

    &__link{
        color: $grey1;
        text-decoration: none;
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
        &:focus,
        &:active{
            outline: none;
        }
    }


    &__tags{
        margin-top: 0;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: -5px;
        @media screen and (min-width: 700px){
            order: 2;
            flex: 1;
        }
    }

    &__tag{
        background: $blue3;
        padding: 5px 15px;
        color: $blue2;
        border-radius: 100px;
        text-decoration: none;
        display: inline-block;
        font-size: 0.9rem;
        margin-bottom: 5px;
        &:last-of-type{
            margin-right: 0px;
        }
    }

}