.skip-link{
    background: white;
    color: $blue1;
    left: 10px;
    top: 10px;
    padding: 8px;
    font-weight: bold;
    position: absolute;
    transform: translateY(-200%);
    text-decoration: none;

    &:focus {
        transform: translateY(0%);
        outline: 3px solid $focus;
    }
}