.testimonials{
    background: $grey0;
    color: white;
    padding: 50px 25px;
    text-align: center;
    position: relative;
    @media screen and (min-width: 700px) {
        padding: 70px 25px;
    }

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        // mix-blend-mode: multiply;
        opacity: 0.4;
    }

    &__title{
        position: relative;
        text-shadow: 0px 0px 20px transparentize($grey1, 0.25);
        margin: 0;
        margin-bottom: 35px;
    }

    &__list{
        list-style: none;
        padding-left: 0;
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        &:focus-within .slick-dots{
            outline: 3px solid $focus;
        }
        *:focus{
            outline: none;
        }
    }

    &__slide{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 700px){
            text-align: left;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    blockquote{
        margin: 0;
    }

    &__quote{
        display: block;
        font-size: 1.5rem;
        text-shadow: 0px 0px 20px transparentize($grey1, 0.25);
        @media screen and (min-width: 700px){
            font-size: 2rem;
        }
    }

    &__citation{
        display: block;
        margin-top: 10px;
        font-size: 1rem;
        font-style: normal;
        text-shadow: 0px 0px 20px transparentize($grey1, 0.25);
        @media screen and (min-width: 700px){
            font-size: 1.1rem;
            margin-top: 20px;
        }
    }

    img{
        width: 90px;
        height: 90px;
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 20px;
        @media screen and (min-width: 700px){
            margin-bottom: 0px;
            margin-right: 35px;
        }
    }

    .slick-dotted.slick-slider{
        padding-bottom: 35px;
    }

    @supports(transform: translateX(-50%)){
        .slick-dots{
            width: initial;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .slick-dots li button:before,
    .slick-dots li.slick-active button:before{
        color: white;
        font-size: 40px;
    }
}