.tiles{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0px 25px;

    .container{
        max-width: 600px;
        @supports(display: grid){
            max-width: 1200px;
            @media screen and (min-width: 700px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 25px;
            }
        }
    }

    &__tile{
        background: white;
        border-radius: 5px;
        border: 1px solid $grey3;
        margin-bottom: 25px;
        @media screen and (min-width: 700px) {
            @supports(display: grid){
                margin-bottom: 0px;
            }
        }


        img{
            display: block;
            border-radius: 5px 5px 0px 0px;
            width: 100%;
            @supports(object-fit: cover){
                object-fit: cover;
                height: 200px;
            }
        }
    }

    &__inner{
        padding: 25px;
        @media screen and (min-width: 700px) {
            padding: 35px;
        }

        h3{
            margin: 0;
            text-align: left;
            margin-bottom: 10px;
        }

        p{
            margin: 0;
        }
    }
}