.with-sidebar{
    @media screen and (min-width: 1000px){
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 55px;
    }

    &__sidebar{
        color: $grey1;
        margin-top: 55px;
        @media screen and (min-width: 1000px){
            margin-top: 0px;
        }

        h2{
            margin-top: 45px;
            font-weight: 700;
            margin-bottom: 25px;
            @media screen and (min-width: 700px){
                margin-top: 65px;
            }

            &:first-child{
                margin-top: 0px;
            }
        }

    }
}

.related-content-list{
    list-style: none;
    padding-left: 0px;
    @media screen and (min-width: 700px){
        font-size: 1.1rem;
    }

    li{
        margin-bottom: 5px;
    }

    a{
        color: $blue1;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &:focus{
            outline: 3px solid $focus;
            background: $focus;
            color: $grey1;
        }

    }
}