// Editor styles here
body,
.editor-post-title__block .editor-post-title__input {
    font-family: "Open Sans", Arial, sans-serif;
}

$wide: 1280px;

@import "blocks/hero";
@import "blocks/selling-points";
@import "blocks/service-teasers";
@import "blocks/testimonials";
@import "blocks/button";
@import "blocks/opportunities-teaser";