@import "vars";
@import "mixins";

*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    margin: 0;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &--narrow{
        max-width: 600px;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";

@import "beta-banner";
@import "header";
@import "mini-search";
@import "hero";
@import "page";
@import "tiles";
@import "testimonials";
@import "call-to-action-banner";
@import "call-to-action-card";
@import "footer";