@import "vars";
@import "mixins";

*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    outline-offset: 0;
}

body{
    margin: 0;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &--mid{
        max-width: 1000px;
    }

    &--narrow{
        max-width: 600px;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@keyframes spin{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}

.spinner{
    margin: 40px auto;
    width: 100px;
    display: block;
    animation: spin 1.5s infinite;
    animation-timing-function: linear;
}

.alert{
    padding: 25px;
    margin-top: 0;
    background: transparentize($focus, 0.75);
    border-radius: 5px;
    border: 1px solid $focus;
    color: darken($focus, 50);
    margin-bottom: 25px;
}

@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";

@import "beta-banner";
@import "header";
@import "mini-search";
@import "hero";
@import "page";
@import "tiles";
@import "selling-points";
@import "testimonials";
@import "key-stats";
@import "call-to-action-banner";
@import "footer";

@import "course";
@import "course-search";
@import "similar-courses";

@import "apply";
@import "confirmation";

@import "page-navigation";
@import "with-sidebar";

@import "cards";

@import "opportunities-board";
@import "breadcrumbs";