// @import "jquery-ui";

@import "imported/utilities/all";
@import "imported/base/all";
@import "imported/grid/all";
@import "imported/components/all";
@import "imported/elements/all";
@import "imported/layout/all";

@import "imported/settings";
@import "imported/advisors";
@import "imported/opportunities";
@import "imported/main";
@import "imported/landing";
@import "imported/onboarding";
@import "imported/hub";
@import "imported/apprenticeships";
@import "imported/hackney100";
@import "imported/sub_pages";
@import "imported/covid";


// Edit link
.post-edit-link{
    display: block;
    margin-top: 10px;
}


// Header menu
.nav{
    .menu-item {
        a{
            display: block;
            color: #6F6F6E;
            padding-bottom: 0.87rem;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            padding-top: 0.87rem;
            @media screen and (max-width: 880px){
                border-top: 1px solid rgba(199,199,198,0.5);
                text-align: left;
                padding: 0.75rem;
            }
        }
        &.current-menu-item a, 
        &:hover a{
            background-color: #009CA6;
            color: white;
        }

    }
}


.page-template-page-blank{
    .site-header {
        padding-top: 7px;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        text-shadow: 0 1px 4px rgba(92,92,92,0.5);
        @media screen and (max-width: 880px){
            padding-top: 0px;
        }
        .nav-toggle{
            &:hover{
                background: white;
                color: #1D1D1B !important;
                text-shadow: none;
            }
            span{
                background: white;
            }
        }
        a{
            color: white;
            &:hover{
                background-color: transparent;
                text-decoration: underline;
            }
        }
    }
}

// Footer menu
.front_page_footer{
    li{
        margin-bottom: 15px;
    }
}

// Maps
.map-holder{
    width: 100%;
    height: 300px;
}

// Fix icons
.points .icon_circle i {
    margin-top: 16px;
    font-size: 25px;
}

// Big button
.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 80px;
}

// fix service teasers
#other_pages .is-one-third{
    p{
        color: white;
    }
    &:nth-of-type(2){
        background-color: #6FB843;
    }
    &:nth-of-type(3){
        background-color: #BE3A34;
    }
}